/* #202124 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #202124;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 10px;

}
